<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>pegjs</title>
    <link rel="icon" type="image/jpg" href="favicon.jpg" />
    <link rel="stylesheet" href="/styles.css" type="text/css" media="screen" charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/grammar"  title="Grammar" <%=current?("/grammar")%>>Gramática</a> </li>
        <li> <a href="/"  title="Home" <%=current?("/")%>>Página principal</a> </li>
        <li> <a href="http://en.wikipedia.org/wiki/Recursive_descent_parser#Example_parser"   title="Wikipedia">Wikipedia-PL0</a> </li>
        <li> <a href="http://pegjs.majda.cz/"  title="PEG.js">PEG.js</a> </li>
        <li> <a href="http://datamapper.org/"  title="DataMapper">DataMapper</a> </li>
        <li> <a href="https://github.com/alu0100597929/Prct6_Analizador_PL0_PEG.git"  title="Repo">Repositorio</a> </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>

