<script type='text/javascript' src='tests/chai.js'></script>
<script type='text/javascript' src='tests/mocha.js'></script>


<div id="mocha"></div>
<script>mocha.setup('tdd')</script>
<script src="tests/tests.js"></script>
<script>mocha.run();</script>

