<script type='text/javascript' src='tests/chai.js'></script>
<script type='text/javascript' src='tests/mocha.js'></script>


<div id="mocha"></div>
    
    <script>
      mocha.run();
    </script>
    <!--
#mocha
  javascript:
    mocha.setup('tdd');
  script type='text/javascript' src='tests/tests.js'
  javascript:
    mocha.run();
    -->