body {
  font-family: Helvetica, Arial, sans-serif; 
  background:url(fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
}

h1 {
  color: #3388BB;
  font: 32px/1 Helvetica, Arial, sans-serif; 
  background: #FFFFFF;
  border-radius: 5px;
  border: 2px solid #3388BB;
  width: 500px;
}

header h1 {
  font-size: 40px;
  line-height: 80px;
  background-size: 5% 70%;
  padding-left: 84px; }

nav {
  font-weight: bold; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  nav li {
    display: inline-block;
    }
  nav a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background: #3388BB;
    color: white; }
    nav a:hover {
      background: #111111; }

p {
  font: 13px/1.4 Helvetica, Arial, sans-serif;
  color: #444444;
  font-weight: bolder;
}

label {
  display: block; }

nav a.current {
  background: #c4c4c4; }

.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: #ffccdd;
  color: #990033;
  border: 1px solid #990033; }

#like p {
  font-weight: bold;
  color: #990033; }
#like input {
  border: #660022 1px solid;
  height: 28px;
  padding-left: 24px; }



  .loadfile button, .loadfile input {
    color: #444444;
    list-style: none;
    display: inline;
    text-align: center;
    font-weight: bolder; }
  .loadfile button:hover, .loadfile input:hover {
    cursor: pointer; }

.error {
  color: white;
  background-color: #990033; }

.centered {
  text-align: center; }
